@model List<MDoc.Services.Contract.DataContracts.DocumentCommentModel>
<div class="row">
    <div class="col-md-12" id="list-of-comment">
        @foreach (var comment in Model)
        {
            @Html.Partial("_Comment", comment)
        }
    </div>
</div>
