@{
    ViewBag.Title = "List of application user";
}
<div class="row row-margintop">
    @Html.Partial("_ListOfAccount")
</div>
@section scripts{
    @Scripts.Render("~/application/user")
    <script type="text/javascript">
        $(function() {
            appUser.setHrightGrid();
        });
    </script>
}