<div class="col-md-6 col-sm-12">
    <div class="input-group">
        <input type="text" id="StrQuery" class="form-control" placeholder="Search school by Name."/>
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
</div>
<div class="col-md-6 col-sm-12">
    <a class="btn btn-primary" href="@Url.Action("Create","School")"><i class="fa fa-plus"></i> New school</a>
</div>