@{
    ViewBag.Title = "List of schools";
}
<div class="row row-margintop">
    @Html.Partial("_ListOfSchool")
</div>
@section scripts
{
    @Scripts.Render("~/application/school")
    <script type="text/javascript">
        $(function() {
            school.setHeightGrid();
        });
    </script>
}
