<div class="btn-group">
    <a class="btn btn-primary" href='@Url.Action("Edit", "Document")/#: Id #' title="Edit item">
        <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-danger" onclick="" data-id="#: Id #" data-status="3" title="Remmove item">
        <i class="fa fa-remove"></i>
    </a>
</div>