<div class="btn-group">
    <a class="btn btn-primary" href='@Url.Action("EditChecklistItem", "Setting")/#: Id #' title="Edit item">
        <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-danger" onclick="checklist.remove(this)" data-action='@Url.Action("RemoveChecklistItem", "Setting")/#: Id #' title="Remmove item">
        <i class="fa fa-remove"></i>
    </a>
</div>