<!-- footer content -->
<footer>
    <div class="pull-right">
        MDoc - Document Management by <a href="https://www.facebook.com/trandev90">Tho.Tran</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->