@using Microsoft.AspNet.Identity
@model MDoc.Models.LoggedUser
<div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
        <img class="android-logo-image" src="~/Content/images/logo.png">
    </span>
    <nav class="mdl-navigation">
        <span class="mdl-navigation__link" href="">Master Data</span>
        <a class="mdl-navigation__link" href=@Url.Action("Index", "School")>Schools</a>
        @if (Model.IsCompanyAdmin || @Model.IsSuperAdmin)
        {
            <a class="mdl-navigation__link" href=@Url.Action("Index", "Customer")>Customers</a>
        }
        <a class="mdl-navigation__link" href=@Url.Action("Index", "Document")>Documents</a>
        @if (@Model.IsCompanyAdmin || Model.IsSuperAdmin)
        {
            <span class="mdl-navigation__link" href="">System Configuration</span>
            <a class="mdl-navigation__link" href=@Url.Action("Index", "Account")>User</a>
            <a class="mdl-navigation__link" href=@Url.Action("Information", "Company")>Company Information</a>
            <a class="mdl-navigation__link" href=@Url.Action("Index", "Setting")>Settings</a>
            <a class="mdl-navigation__link" href=@Url.Action("Index", "Notice")>Notice</a>
        }
        @if (Model.IsSuperAdmin)
        {

        }
    </nav>
</div>
