@model MDoc.Models.LoggedUser
@{
    var avatar = Url.Content("~/Content/images/noavatar.png");
}
<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="@avatar" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome!</span>
        <h2>@Model.Name</h2>
    </div>
</div>
