@using MDoc.Services.Contract.DataContracts
<div class="col-md-12">
    @(Html.Kendo().Grid<CustomerModel>()
          .Name("GridCustomers")
          .Columns(columns =>
          {
              columns.Bound(c => c.CustomerId).ClientTemplate(@Html.Partial("_Command").ToHtmlString())
                  .Width(150)
                  .HeaderTemplate("Actions")
                  .Sortable(false)
                  .Filterable(false);
              columns.Bound(c => c.LastName);
              columns.Bound(c => c.FirstName);
              columns.Bound(c => c.Gender);
              columns.Bound(c => c.Mobile);
              columns.Bound(c => c.Email);
              columns.Command(command =>
                    {
                        command.Destroy().Text("delete");
                    }).Width(150);
          })
          .ToolBar(toolbar =>
          {
              toolbar.Template(@<text>
    <div class="grid-toolbar">
        <a class="btn btn-primary" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> Add new customer</a>
    </div>
    </text>    );
          })
          .Scrollable()
          .Filterable()
          .Sortable()
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("ListOfCustomer", "Customer"))
              .Model(model => model.Id(p => p.CustomerId))
              .PageSize(20)
              .Destroy(c=>c.Action("Remove","Customer"))
          )
    )
</div>