@using MDoc.Services.Contract.DataContracts
<div class="col-md-12">
    @(Html.Kendo().Grid<NoticeModel>()
          .Name("GridNotices")
          .Columns(columns =>
          {
              columns.Bound(c => c.Id).ClientTemplate(@Html.Partial("_Command").ToHtmlString())
                  .Width(150)
                  .HeaderTemplate("Actions")
                  .Sortable(false)
                  .Filterable(false);
              columns.Bound(c => c.Title);
              columns.Bound(c => c.CreatedByUsername);
              columns.Bound(c => c.CreatedDate).Format("{0:dd/MM/yyyy HH:mm}").Width(200);
              columns.Bound(c => c.IsDraft).HeaderTemplate("Draft?").ClientTemplate("# if(IsDraft == true) {#" +
                                                                                                   "<i class='fa fa-check blue'></i>" +
                                                                                                   "#}#").Width(100);
              columns.Command(command =>
                    {
                        command.Destroy().Text("delete");
                    }).Width(150);
          })
          .ToolBar(toolbar =>
          {
              toolbar.Template(@<text>
        <div class="grid-toolbar">
            <a class="btn btn-primary" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> Add new notice</a>
        </div>
            </text>    );
          })
          .Scrollable()
          .Filterable()
          .Sortable()
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("ListOfNotice", "Notice"))
              .Model(model => model.Id(p => p.Id))
              .PageSize(20)
              .Destroy(c => c.Action("Remove", "Customer"))
          )
    )
</div>