
@{
    ViewBag.Title = "Notice Management";
}
<div class="row row-margintop">
    @Html.Partial("_ListOfNotice")
</div>

@section scripts
{
    @Scripts.Render("~/application/notice")
    <script type="text/javascript">
        (function() {
            notice.setHeightGrid();
        })();
    </script>
}
